<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="single_kuka_lwr_robot">

	<!-- Include all models -->
	<xacro:include filename="$(find kuka_lwr_description)/model/kuka_lwr_gazebo.urdf.xacro"/>

	<!-- and assemble your robot -->
	
	<link name="box"/>
		
	<!-- using the models -->
	<xacro:kuka_lwr parent="box" name="kuka_lwr" namespace="ns_kuka_lwr">
		<origin xyz="0 0 1" rpy="0 0 0"/>
	</xacro:kuka_lwr>

</robot>
